DISCORD_TOKEN=replace_with_your_bot_token
GUILD_ID=replace_with_your_server_id
WAITING_ROOM_ROLE_ID=replace_with_waiting_room_role_id
PVP_ROLE_ID=replace_with_pvp_role_id
NOVA_ROLE_ID=replace_with_n0va_role_id
ADMIN_ROLE_ID=replace_with_admin_team_role_id
LOGISTICS_ROLE_ID=replace_with_logistics_team_role_id
ROLES_CHANNEL_ID=replace_with_roles_channel_id
