DISCORD_TOKEN=replace_with_your_bot_token
GUILD_ID=replace_with_your_server_id
WAITING_ROOM_ROLE_ID=replace_with_waiting_room_role_id
UNDER_18_ROLE_ID=replace_with_under_18_role_id
OVER_18_ROLE_ID=replace_with_over_18_role_id
ADMIN_ROLE_ID=replace_with_admin_team_role_id
LOGISTICS_ROLE_ID=replace_with_logistics_team_role_id
ROLES_CHANNEL_ID=replace_with_roles_channel_id
SWAMP_LOGS_CHANNEL_ID=replace_with_swamp_logs_channel_id
